<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050477868620-7ul7j90p5ht7bd08du1aqfuke8fhrbtq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050477868620-7ul7j90p5ht7bd08du1aqfuke8fhrbtq</string>
	<key>API_KEY</key>
	<string>AIzaSyDvnOwg9ABe3mB40i36f9Rf0LX4IcmcJJg</string>
	<key>GCM_SENDER_ID</key>
	<string>1050477868620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.englishLearning.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>english-learning-c2b25</string>
	<key>STORAGE_BUCKET</key>
	<string>english-learning-c2b25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050477868620:ios:8e76b5d572a0b1cc18a6e9</string>
</dict>
</plist>